.container{
  background-color: black;
  color: aliceblue;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

p{
  font-size: 60px;
  color: orange;
}

button{
  border-radius: 8px;
  padding: 10px;
  background-color: #d26565;
  box-shadow: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  cursor: pointer;
  transition: 0.2s ease;
}
button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}